# Operating System files
.DS_Store
Thumbs.db

# Build artifacts
/build
/dist
target/

# Dependencies
node_modules/
*.o
*.class

# Log and temporary files
*.log
npm-debug.log*
.env

# IDE and editor files
.idea/
.vscode/
*.swp
